body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout{
  width: 85%;
  margin: 0 auto;

}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 132px;
  border-bottom: 2px solid black;
  margin-bottom: 35px;
}

.header .logo{
  display: flex;
  flex-grow: 2;
}
.header .logo span{
  display: block;
  font-size: 108px;
  font-weight: bolder;
  margin-top: -8px;
}
.header .logo h3{
  display: block;
  flex-basis: 40px;
  margin-left: 10px;
  font-weight: 400;
  text-transform: uppercase;
}
.header nav{
  flex-grow: 1;
}

.header nav ul{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 132px;
}

.header li{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  margin-left: 15px;
}

.header li a{
  color: black;
  text-decoration: none;
  transition: all 300;
}

.header a:hover{
  color: #fa4529;
}